/guia10/detencion de errores guia 10/nbproject/private/
/guia10/detencion de errores guia 10/build/
/guia10/guia10ejercicio1/nbproject/private/
/guia10/guia10ejercicio3/nbproject/private/
/guia10/guia10ejercicio4/nbproject/private/
/guia10/guia10ejercicio5/nbproject/private/
/guia10/guia10ejercicio6/nbproject/private/